@use "colors";

@media (min-width: 530px) {

  .advice-box {
    max-width: 444px;
  }

  .advice-box__bottom {
    .dice-button {
      transition: all .3s;

      &:hover {
        box-shadow: 0px 0px 30px 2px colors.$neon-green;
        transition: all .3s;
      }
    }
  }
}
