@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
	margin: 0;
	padding: 0;
	outline: 0;
	height: 100vh;

	font-size: 15px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: hsl(0, 0%, 95%);
}

section {
	display: flex;
	flex-direction: row;
	margin-top: auto;
}

.box {
	width: 300px;
	height: auto;
}

.box img {
	width: 64px;
	height: 40px;
	padding: 45px;
	padding-bottom: 0;
}

.box h2 {
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', cursive;
	padding: 0 45px;
	color: hsl(0, 0%, 95%);
}

.box p {
	font-family: 'Lexend Deca', sans-serif;
	font-weight: lighter;

	color: hsla(0, 0%, 100%, 0.75);

	padding: 0 45px;
}

.box a {
	display: inline-block;
	padding: 10px 30px;
	margin: 45px;
	
	background-color: hsl(0, 0%, 95%);
	
	border: 2px solid hsl(0, 0%, 95%);
	border-radius: 20px;

	text-decoration: none;
	font-family: 'Lexend Deca', sans-serif;
}

.box a:hover {
	background-color: transparent;
	color: hsl(0, 0%, 95%);
}

.box-1 {
	background-color: hsl(31, 77%, 52%);
	border-radius: 10px 0 0 10px;
}

.box-1 a {
	color: hsl(31, 77%, 52%);
}

.box-2 {
	background-color: hsl(184, 100%, 22%);
}

.box-2 a {
	color: hsl(184, 100%, 22%);
}

.box-3 {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 10px 10px 0;
}

.box-3 a {
	color: hsl(179, 100%, 13%);
}

.attribution {
	margin-top: auto;
	margin-bottom: 15px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 900px) {
	body {
		height: auto;
	}

	section {
		flex-direction: column;
		margin: 45px auto;
	}

	.box-1 {
		border-radius: 10px 10px 0 0;
	}

	.box-3 {
		border-radius: 0 0 10px 10px;
	}
}
