// variables
$orange: hsl(31, 77%, 52%);
$d-cyan: hsl(184, 100%, 22%);
$vd-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
$vl-gray: hsl(0, 0%, 95%); // background, headings, buttons

// font
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// style reset
html, body {
	margin: 0;
	padding: 0;
	outline: 0;

	font-size: 15px;
	font-family: 'Lexend Deca', sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

h2, p {
	margin: 0;
}

a {
	text-decoration: none; 
}
