@media (min-width: 1025px) {
	.main {
		height: 100%;
		&__cards {
			flex-direction: row;
			margin-top: auto;

			.box {
				&:first-child {border-radius: 10px 0 0 10px;}
				&:last-child {border-radius: 0 10px 10px 0;}
			}
		}
	}
}
