.main {
	height: auto;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	background-color: $vl-gray;

	&__cards {
		display: flex;
		flex-direction: column;
		margin: 45px auto;
	}

	&__attribution {
		margin-top: auto;
		margin-bottom: 15px;
		font-size: 11px;
		text-align: center;

		&-link {
			color: hsl(228, 45%, 44%);
		}
	}
}
