@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

*:not(h1):not(h2):not(h3) {
  font-size: 13px; }

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ecf2f8;
  font-family: 'Manrope', sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.attribution {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 auto 15px;
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.box {
  max-height: fit-content;
  height: 280px;
  max-width: 730px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); }
  .box__left {
    height: 100%;
    width: 40%;
    overflow: hidden;
    position: relative; }
    .box__left img {
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
      border-radius: 10px 0px 0px 10px; }
  .box__right {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 35px 40px 20px; }
    .box__right .title {
      display: block;
      font-weight: 700;
      color: #48556a; }
    .box__right .body {
      display: block;
      margin: 20px 0px;
      color: #6d7f97; }
    .box__right .bottom {
      display: flex; }
      .box__right .bottom__left {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .box__right .bottom__left img {
          height: 40px;
          border-radius: 25px;
          margin-right: 10px; }
        .box__right .bottom__left .name-date {
          height: 100%; }
          .box__right .bottom__left .name-date .name {
            font-weight: 700;
            color: #48556a; }
          .box__right .bottom__left .name-date .date {
            color: #6d7f97; }
      .box__right .bottom__right {
        width: 10%;
        display: flex;
        position: relative;
        align-self: center; }
        .box__right .bottom__right button {
          position: relative;
          cursor: pointer;
          display: inline-block;
          width: 32px;
          height: 32px;
          border: none;
          border-radius: 50%;
          background-color: #ecf2f8;
          padding: 5px; }
          .box__right .bottom__right button img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-self: center;
            object-fit: fill; }
      .box__right .bottom .share-panel {
        padding: 17px 30px;
        width: 250px;
        position: absolute;
        top: -160%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #48556a;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .box__right .bottom .share-panel p {
          text-transform: uppercase;
          letter-spacing: 6px;
          color: #9eafc2; }
        .box__right .bottom .share-panel a:not(:last-child) {
          padding-right: 5px; }
      .box__right .bottom .arrow {
        position: absolute;
        top: -60%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #48556a; }

@media only screen and (max-width: 375px) {
  .box {
    width: 330px;
    height: 480px;
    flex-direction: column; }
    .box__left {
      width: 100%;
      height: 200px; }
      .box__left img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px; }
    .box__right {
      width: 100%;
      padding: 35px 35px 20px;
      display: flex; }
      .box__right .title {
        font-size: 11px; }
      .box__right .body {
        margin-bottom: 10px;
        font-size: 8px; }
      .box__right .bottom__left {
        width: 80%; }
      .box__right .bottom__right {
        width: 20%;
        justify-content: flex-end; }
      .box__right #arrow {
        border: 0px; }
      .box__right #share-block:not(.arrow) {
        top: 74%;
        left: -150%;
        height: 65px;
        border: 0px;
        width: 330px;
        padding-right: 100px; } }

/*# sourceMappingURL=style.css.map */
